body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Century Gothic';
  background: rgb(231, 75, 67);
  background: linear-gradient(135deg, white 0%, #bb6dec 100%);
}

body, html {
  height: 100%;
  color: #4E546D;
}

img {
  vertical-align: middle;
  border-style: none;
  padding-top: 20%;
}
.h1, h1 {
  font-size: 2.5rem;
  padding-top: 2%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  padding-top: 20%;
}
.containeradd{
  padding-top: 50%;
}

.sumbit-btn {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 120px;
  height: 35px;
  background-color: #bb6dec;
  color: #f4f0f0;
  border-radius: 5px;
  cursor: pointer;
}
.form-footer {
  margin: 20px;
  margin-left: 0;
  padding-top: 10px;
}

